body {
  width: 100%;
  background: rgb(21,68,222);
  background: linear-gradient(90deg, rgba(21,68,222,1) 0%, rgba(159,197,241,1) 100%);

}

.presentacion{
  margin-bottom: 2vw;
}

.text-center{
  background-color: rgb(215, 217, 230);
  color: black;
  margin-top: 2rem;
}

.mapouter{
  width: 2rem;
}